# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.log

# Byte-compiled / optimized / DLL files
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/

# Logs
logs/
*.log

# Allure reports
reports/allure-results/
reports/allure-report/

# Pytest cache
.pytest_cache/
.cache/

# VSCode / PyCharm / IDEs
.idea/
.vscode/

# Docker
*.pid
*.db
*.sqlite3

# macOS / Linux
.DS_Store
*.swp
*.swo

# Coverage reports
htmlcov/
.coverage
.tox/

# MyPy / Pyright
.mypy_cache/
.pyright/

# Others
*.bak
*.tmp
*.orig